/* ===================== DARK MODE ===================== */

/*body*/
body.dark-mode{
  background: var(--color-dark);
  color: var(--color-light);
}

/*----------------*/
/* SECTION HEADER */
/*----------------*/

/*navbar*/
.dark-mode nav{
  border-bottom: 1px solid var(--color-light);
  background-color: var(--color-gray);
}


/*----------------*/
/* SECTION INICIO */
/*----------------*/

/*#inicio*/
.dark-mode #inicio{
  background:var(--gradient-dark-mode);
}

/*----------------*/
/* SECTION PERFIL */
/*----------------*/

/*perfil*/
.dark-mode #perfil{
  background: var(--gradient-dark-mode);
}


/*------------------*/
/* SECTION PROYECTO */
/*------------------*/

/*#proyecto*/
.dark-mode #proyecto{
  background: var(--gradient-dark-mode);
}
/*carrusel*/
.dark-mode #carrusel {
  background-color: var(--color-gray);
}


/*------------------*/
/* SECTION CONTACTO */
/*------------------*/

/*#contacto*/
.dark-mode #contacto{
  background: var(--gradient-dark-mode);
}

/*------------------*/
/* SECTION FOOTER   */
/*------------------*/

/*Footer*/
.dark-mode footer{
  background-color: var(--color-gray);
}