@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {

    /* 🎨 Colores */
        --color-negro: #0a0a0a;
        --color-blanco: #ffffff;
        --color-trans: hsla(0, 0%, 100%, 0.5); /* Blanco con transparencia */
        --color-azul-real: #0057B7;
        --color-suave: #292C34;

    /* 🎨 Colores de tecnologías */
        --color-html: #F16529;
        --color-css: #663399;
        --color-js: #F0DB4F;

    /* 🖋️ Tipografías generales */
        --font-primary: "Fredoka", sans-serif;
        --font-secundary: "IBM Plex Mono", monospace;

    /* 🔤 Tamaños de fuente */
        --size-h1: 4rem;
        --size-name: 1.5rem;
        --size-subtitle: 1.5rem;
        --size-skill: 1.2rem;
        --size-repo-title: 1.5rem;
        --size-repo-text: 1rem;

    /* 🔥 Pesos de fuente */
        --weight-light: 300;
        --weight-regular: 400;
        --weight-medium: 500;
        --weight-bold: 700;

    /* 📏 Espaciados */
        --spacing-xs: 0.5rem;
        --spacing-sm: 1rem;
        --spacing-md: 2rem;
        --spacing-lg: 4rem;

    /* 🏠 Estilos específicos */
        --font-h1: var(--weight-bold) var(--size-h1)/1.2 var(--font-primary);
        --font-name: var(--weight-light) var(--size-name)/1.2 var(--font-mono);
        --font-subtitle: var(--weight-light) var(--size-subtitle)/1.2 var(--font-primary);
        --font-skill-svg: var(--weight-regular) var(--size-skill)/1.2 var(--font-primary);
        --font-repo-title: var(--weight-bold) var(--size-repo-title)/1.2 var(--font-primary);
        --font-repo-text: var(--weight-medium) var(--size-repo-text)/1.2 var(--font-primary);
}


/* Reset de estilos */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-color: var(--color-negro);
        font-family: var(--font-primary);
        min-height: 100dvh;
    }

/* ====================== MAIN ====================== */
.main_class {
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ______________Section Home______________*/

.home { /* section Home */

    display: flex;
    justify-content:center;
    align-items: center;
    height: 100dvh;
    width:100%;

}
.home_div{ /* Ordena los elementos del home */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home_picture{ /*Contendor de la foto del Desarrollador*/
    position: relative;
    width: 20rem;
    height: 20rem;
    margin-top: 4rem;
}
.home_picture_img{ /* Foto del Desarrollador */
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
    border:0.5rem solid var(--color-azul-real);
}

.home_name,
.home_name_user {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
    padding-top: 2rem;
}

.home_name {
    font-weight: 300;
    color: var(--color-trans);
}

.home_name_user {
    font-weight: 700;
    color: var(--color-azul-real);
}

.home_title { /* H1 */
    font: var(--font-h1);
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    padding-top: 2rem;
    color: var(--color-blanco);
}

.home_subtitle { /* Texto debajo del H1 */
    
    font: var(--font-subtitle);
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    text-align: justify;
    padding: 1rem 2rem;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: var(--color-trans);
}
.home_skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 2rem;
    
}

.home_skills_svg{
    font: var(--font-skill-svg);
    width: 10rem;
    height: 3rem;
    color: var(--color-blanco);  
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin:2rem;
    padding: 1rem;
    gap:10px;
    background-color: var(--color-suave);
    border-radius: 50px;
}

.home_skills_svg_github{
    fill: #ffffff;
    height: 2rem;
}

.home_skills_svg_html{
    fill: #ff4800;
    height: 2rem;
}
.home_skills_svg_css{
    fill: #663399;
    height: 2rem;
}
    
.home_skills_svg_js{
    fill: #eeff00;
    height: 2rem;
}

.home_redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 2rem;
}

.home_redes_svg{
    width: 10rem;
    height: 3.5rem;   /* Alto del rectángulo */
    color: var(--color-blanco);   /* Color del texto */

    font-size: 1.2rem;
    font-family:"Fredoka", sans-serif;

    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */

    margin:2rem;
    padding: 1rem;
    gap:10px;
}

.home_redes_svg_github{
    fill: #ffffff;
    height: 2rem;
}

/* ______________Section About______________*/
.repositorio {
    width: 100%;
    height: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:3rem;
    background-color: white ;
}

.repositorio_content{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.repositorio_content_block{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--color-suave);
    width: 20%;
    border-radius: 30px;
    padding: 10px;
}

.repositorio_content_picture{
    background-color: var(--color-azul-real); /* Color de fondo para evitar espacios en blanco */
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

.repositorio_content_picture_img {
    
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px 20px 0px 0px;
}

.repositorio_text_title{
    padding: 15px ;
    font:var(--font-repo-title);
    color: var(--color-js)
}

.repositorio_text{
    font: var(--font-repo-text);
    padding: 15px ;
    color: var(--color-blanco)
}

.repositorio_h1{
    font:var(--font-h1);
    color: var(--color-js);
}





/* ====================== FOOTER ====================== */
footer {
    height:5dvh;
    width: 100%;
    color: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
    background-color: var(--color-azul-real);

}

