@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --color-negro: #0a0a0a; /* negro */
    --color-blanco: #FFFFFF; /* blanco */
    --color-trans: #ffffff7e; /* blanco transparente */
    --color-azul-real: #0057B7; /* Azul real */
    --color-suave: #292C34;

    --color-html: #F16529;
    --color-css:#663399;
    --color-js:#F0DB4F;

    /*--font: style | variant | weight | size | line-height | family | family | serif*/
    --font-h1: normal normal 700 4rem/1.2 "Fredoka", "Arial", sans-serif;
    --font-name: normal normal 700 5rem/1.2 "IBM Plex Mono", "Arial", monospace;
    --font-subtitle: normal normal 300 1rem/1.2 "Fredoka", "Arial", sans-serif;
    --font-skill-svg:normal normal 500 1.2rem/1.2 "Fredoka", "Arial", sans-serif;
    --font-repo-title:normal normal 700 1.5rem/1.2 "Fredoka", "Arial", sans-serif;
    --font-repo-text:normal normal 500 1rem/1.2 "Fredoka", "Arial", sans-serif;


    /* font-optical-sizing: auto; */
    /* font-variation-settings: "wdth" 100; */
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-negro); /* Color negro para el fondo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}


/* ====================== MAIN ====================== */
.main_class {
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Aplicamos tamaños para todos los Sección */
section {
    min-height: 100dvh;
    height: 100dvh;
    width: 100%;
}


/* ______________Section Home______________*/

.home { /* section Home */
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    width:100%;
}
.home_div{ /* Ordena los elementos del home */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home_picture{ /*Contendor de la foto del Desarrollador*/
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 6px solid var(--color-azul-real);
    overflow: visible;
    width: 20rem;
    height: 20rem;
}
.home_picture_img{ /* Foto del Desarrollador */
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
    border: 5px solid var(--color-negro);
}
.home_name{ /* Texto donde va el nombre del desarrollador */
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: normal;
    padding-top: 2rem;
    color: var(--color-trans);
}
.home_name_user{ /* Texto personalizado del desarrollador */
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    padding-top: 2rem;
    color: var(--color-azul-real);
}
.home_title { /* H1 */
    font: var(--font-h1);
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    padding-top: 2rem;
    color: var(--color-blanco);
}

.home_subtitle { /* Texto debajo del H1 */
    
    font: var(--font-subtitle);
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    text-align: left;
    padding: 1rem 2rem;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: var(--color-trans);
}
.home_skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 2rem;
    
}

.home_skills_svg{
    font: var(--font-skill-svg);
    width: 10rem;
    height: 3rem;
    color: var(--color-blanco);  
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin:2rem;
    padding: 1rem;
    gap:10px;
    background-color: var(--color-suave);
    border-radius: 50px;
}

.home_skills_svg_github{
    fill: #ffffff;
    height: 2rem;
}

.home_skills_svg_html{
    fill: #ff4800;
    height: 2rem;
}
.home_skills_svg_css{
    fill: #663399;
    height: 2rem;
}
    
.home_skills_svg_js{
    fill: #eeff00;
    height: 2rem;
}

.home_redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 2rem;
}

.home_redes_svg{
    width: 10rem;
    height: 3.5rem;   /* Alto del rectángulo */
    color: var(--color-blanco);   /* Color del texto */

    font-size: 1.2rem;
    font-family:"Fredoka", sans-serif;

    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */

    margin:2rem;
    padding: 1rem;
    gap:10px;
}

.home_redes_svg_github{
    fill: #ffffff;
    height: 2rem;
}


/* Sección About */
.repositorio {
    width: 100%;
    height: 100dvh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:3rem;
}

.repositorio_content{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.repositorio_content_block{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--color-suave);
    width: 20%;
    height: 80%;
    border-radius: 30px;
    overflow: hidden;
}

.repositorio_picture{
    background-color: var(--color-azul-real); /* Color de fondo para evitar espacios en blanco */
    border-radius: 30px;
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repositorio_picture_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}

.repositorio_text_title{
    padding: 15px ;
    font:var(--font-repo-title);
    color: var(--color-js)
}

.repositorio_text{
    font: var(--font-repo-text);
    padding: 15px ;
    color: var(--color-blanco)
}

.repositorio_h1{
    font:var(--font-h1);
    color: var(--color-js);
}





/* ====================== FOOTER ====================== */
footer {
    height:5dvh;
    width: 100%;
    color: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
    background-color: var(--color-azul-real);

}

