:root {
    /* Paleta de colores */
    --color-primary         : #0057B7;  /* Azul Real */
    --color-secondary       : #F0DB4F;  /* Amarillo dorado */

    /* Colores neutros */
    --color-light           : #F5F5F5;  /* Blanco humo */
    --color-gray            : #333333;  /* Gris medio */
    --color-dark            : #0A0A0A;  /* Negro */

    /* Colores de estados */
    --color-success         : #28A745;  /* Verde éxito */
    --color-error           : #D72638;  /* Rojo error */

    /* Tipografías generales */
    --font-primary          : "Roboto", sans-serif;
    --font-secondary        : "Roboto Serif", serif;

    /* Estilos de fuentes */
    --font-style-italic     : italic;
    --font-style-normal     : normal;

    /* Tamaños de fuente (responsivos) */
    --font-size-xl          : clamp(1.6rem,   5vw,    3rem);
    --font-size-lg          : clamp(1.25rem,  3.5vw,  2rem);
    --font-size-md          : clamp(1rem,     3vw,    1.5rem);
    --font-size-sm          : clamp(0.875rem, 2.5vw,  1.25rem);
    --font-size-xs          : clamp(0.8rem,   2vw,    1rem);

    /* Altura de línea */
    --font-line-xl          : 1.4;
    --font-line-lg          : 1.6;
    --font-line-md          : 1.5;
    --font-line-sm          : 1.4;
    --font-line-xs          : 1.2;

    /* Pesos de fuente */
    --font-weight-regular   : 400;
    --font-weight-medium    : 500;
    --font-weight-bold      : 700;

    /* Anchos de fuente */
    --font-width-condensed     : 75;
    --font-width-semicondensed : 87.5;
    --font-width-normal        : 100;

    /* Estilos de texto optimizados */
    --font-nav      : var(--font-style-normal) var(--font-weight-bold)     var(--font-size-sm) / var(--font-line-xs) var(--font-primary);
    --font-h1       : var(--font-style-normal) var(--font-weight-bold)     var(--font-size-xl) / var(--font-line-xl) var(--font-primary);
    --font-title    : var(--font-style-normal) var(--font-weight-bold)     var(--font-size-lg) / var(--font-line-lg) var(--font-primary);
    --font-subtitle : var(--font-style-normal) var(--font-weight-regular)  var(--font-size-sm) / var(--font-line-md) var(--font-primary);
    --font-body     : var(--font-style-normal) var(--font-weight-regular)  var(--font-size-sm) / var(--font-line-sm) var(--font-primary);
    --font-caption  : var(--font-style-normal) var(--font-weight-medium)   var(--font-size-xs) / var(--font-line-xs) var(--font-primary);
    --font-fieldset : var(--font-style-normal) var(--font-weight-bold)     var(--font-size-xs) / var(--font-line-xs) var(--font-primary);

}

* {       /* Reset de estilos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: var(--color-light);
    font-family: var(--font-primary);
}

/* ====================== MAIN ====================== */
.main_class {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

    nav{
        color:var(--color-light);
        width: 100%;
        background-color: var(--color-primary);
        position: fixed;
        z-index: 1000;
        box-shadow: 0px 4px 10px var(--color-dark);
        transition: all 0.3s ease-in-out;
    }

        nav.scrolled{
            padding: 5px 0;
        }
    
    nav ul{
        list-style: none;
        display:flex;
        flex-direction:row;
        padding: 10px 30px 10px 20px;
        gap:20px;
        
    }
    
    nav li{
        height:2.5rem;
        font:var(--font-nav);
        color:var(--color-light);
        display:flex;
        justify-content: space-between;
        align-items:center;
        position: relative;
        overflow: hidden;
    }
        nav li:not(:first-child)::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: var(--color-secondary);
            bottom: 0;
            left: -100%;
            transition: left 0.3s ease-in-out;
        }
        
        nav li:not(:first-child):hover::after {
            left: 0;
        }
    
    nav li:first-child{
        flex: 1 1 auto;
        font-size: 30px;
    }
        nav li:first-child:hover {
            color: var(--color-secondary); 
            transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }
        

/* ______________Section Home______________ */
.home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0057B7;
}
    .home_contenedor{ /*div en forma de card para ambos contenedores del home*/
        width: 100%;
        height: auto;
        padding: 2rem;
        margin-top: 6rem;
        background-color: var(--color-gray);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #28A745;
    }

        .home_left, .home_right{ /* CONTENEDORES HOME */
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

            .home_picture { /* Contenedor foto */
                position: relative;
                width: 10rem;
                height: 10rem;
            }

            .home_picture_img { /* Foto */
                width: 100%;
                height: 100%;
                object-fit: cover; 
                border-radius: 50%;
                border: 0.3rem solid var(--color-primary);
            }

            .home_name { /*Nombre */
                font: var(--font-title);
                font-size: var(--font-size-md);
                color: var(--color-primary);
                font-optical-sizing: auto;
                font-variation-settings: "wdth" 100;
            }
            
            .home_title { /* Titulo */
                font: var(--font-h1);
                color: var(--color-secondary);
                text-align: center;
                margin: 2rem 0 2rem 0;
            }

            .home_subtitle { /* Subtitulo */
                font: var(--font-subtitle);
                text-align: justify; 
                color: var(--color-light);
                padding:1.5rem;
            }







            .home_contenedor_title{
                font: var(--font-title);
                color: var(--color-light);
            }

            .fieldset {
                width: 90%;
                height: 9.5rem;     
                font: var(--font-fieldset);
                border: 3px solid var(--color-primary);
                border-radius: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
            
            .legend {
                color: var(--color-secondary);
                padding: 1rem;
                margin-left: 20px;
            }
            .Fieldset_item{
                color: var(--color-light);
                font-size: var(--font-size-xs);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                fill: var(--color-light);
                padding: 1rem;
            }

            .home_skill_item {
                height: 2.5rem;
                background-color: #cf383800;
            }

  







/* ______________Section Repositorios______________*/

.repositorio {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.repositorio_h1 {
    font: var(--font-h1);
    color: var(--color-primary);
    
}

.repositorio_content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--color-primary);
}

.repositorio_content_block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--color-gray);
    width: 20%;
    border-radius: 30px;
    padding: 10px;
}

.repositorio_content_picture {
    background-color: var(--color-dark); /* Color de fondo para evitar espacios en blanco */
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

.repositorio_content_picture_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px 20px 0px 0px;
}

.repositorio_text_title {
    padding: 15px;
    font: var(--font-repo-title);
    color: var(--color-secondary);
}

.repositorio_text {
    font: var(--font-repo-text);
    padding: 15px;
    color: var(--color-light);
}


/*====================== FOOTER ======================*/
footer {
    height: 5dvh;
    width: 100%;
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
    background-color: var(--color-primary);
}

/* ===================== MEDIA QUERIES ===================== */
@media (min-width: 768px) {
    .home {
        flex-direction: row;
    }


    .home_left,
    .home_right {
        width: 50%;
    }

    .repositorio_content {
        justify-content: space-between;
    }

    .repositorio_content_block {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .home_contenedor {
        padding: 3rem;
    }

    .home_picture {
        width: 12rem;
        height: 12rem;
    }

    .repositorio_content_block {
        width: 30%;
    }
}

@media (min-width: 1280px) {
    .repositorio_content {
        max-width: 1200px;
    }

    .repositorio_content_block {
        width: 22%;
    }
}